# Pandas

In [2]:
import pandas as pd

In [12]:
list1=['a','b','c']
list2=[4, 5, 6]
print(pd.Series(list1))                    #Creates a Series using the list indexing from 0 on default
print('--------------')
print(pd.Series(list1, index=list2))       #Creates a Series using the list indexing from list2

0    a
1    b
2    c
dtype: object
--------------
4    a
5    b
6    c
dtype: object

In [10]:
list1=['a','b','c']
ser = pd.Series(list1)
print(ser)
print('--------------')
print(ser*2)

0    a
1    b
2    c
dtype: object
--------------
0    aa
1    bb
2    cc
dtype: object

In [15]:
s1 = pd.Series([1,2,7],['Maths','English','Physics'])
s2 = pd.Series([3,4,5],['Maths','English','Biology'])
print(s1)
print('---------------')
print(s2)
print('---------------')
print(s1+s2)

Maths      1
English    2
Physics    7
dtype: int64
---------------
Maths      3
English    4
Biology    5
dtype: int64
---------------
Biology    NaN
English    6.0
Maths      4.0
Physics    NaN
dtype: float64

# Data Frames

In [18]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [21]:
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['A','B','C'],['D','E','F'])
df

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318
C -0.848077  0.605965 -2.018168

In [30]:
print(type(df))
print()
print(df['E'])
print()
print(type(df['E']))

<class 'pandas.core.frame.DataFrame'>

A    0.628133
B    0.651118
C    0.605965
Name: E, dtype: float64

<class 'pandas.core.series.Series'>

In [28]:
df.head(2)

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318

In [31]:
df.tail(1)

          D         E         F
C -0.848077  0.605965 -2.018168

In [32]:
df.isnull().any()

D    False
E    False
F    False
dtype: bool

In [33]:
df.drop('C')

          D         E         F
A  2.706850  0.628133  0.907969
B  0.503826  0.651118 -0.319318